<svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28 "
     preserveAspectRatio="none">
 <defs>
 <path id="gentle-wave"
 d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
  </defs>
  <g class="parallax1">
   <use xlink:href="#gentle-wave" x="50" y="3" fill="#4b7d96"/>
  </g>
    <g class="parallax2">
   <use xlink:href="#gentle-wave" x="50" y="0" fill="#4b7d96"/>
    </g>
      <g class="parallax3">
   <use xlink:href="#gentle-wave" x="50" y="9" fill="#6e9976"/>
   </g>
    <g class="parallax4">
   <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff"/>  
  </g>
</svg>

<app-title title="Itinerary" style="margin-top: -40px"></app-title>

<app-card title="Satday 6.24" class="card-content">
  <div class="event-section">
    <h3>Ceremony</h3>
    <p>4:00pm - 5:00pm</p>
    <p>Garden - Jasna Polana</p>
  </div>

  <div class="event-section">
    <h3>Cocktail Hour</h3>
    <p>5:00pm - 6:30pm</p>
    <p>Drawing Room and Patio - Jasna Polana</p>
  </div>

  <div class="event-section">
    <h3>Reception</h3>
    <p>7:00pm - 11:00pm</p>
    <p>Travertine Room - Jasna Polana</p>
  </div>

  <div class="event-section">
    <h3>After Party</h3>
    <p>11:00pm</p>
    <p>The Annex House - Jasna Polana</p>
  </div>
</app-card>

<app-card title="Sunday 6.25" class="card-content" style="margin-bottom: 2em">
  <h3>Farewell Brunch</h3>
  <p>10:30am - 12:00pm</p>
  <p>Water's Edge - Hyatt Regency Princeton</p>
</app-card>

<svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28 "
     preserveAspectRatio="none">
 <defs>
 <path id="gentle-wave"
 d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
  </defs>
  <g class="parallax1">
    <use xlink:href="#gentle-wave" x="50" y="3" fill="#4b7d96"/>
  </g>
    <g class="parallax2">
   <use xlink:href="#gentle-wave" x="50" y="0" fill="#4b7d96"/>
    </g>
      <g class="parallax3">
   <use xlink:href="#gentle-wave" x="50" y="9" fill="#6e9976"/>
   </g>
    <g class="parallax4">
   <use xlink:href="#gentle-wave" x="50" y="6" fill="#fff"/>  
  </g>
</svg>
