<app-title title="Itinerary"></app-title>

<app-card title="Friday 6.23" class="card-content">
  <p>Please join us for a welcome cocktail at the</p>
  <p>Hyatt Regency</p>
  <p>9:00pm</p>
</app-card>

<app-card title="Satday 6.24" class="card-content">
  <div class="event-section">
    <p>Ceremony</p>
    <p>4:30pm - 5:30pm</p>
  </div>

  <div class="event-section">
    <p>Cocktail Hour</p>
    <p>5:30pm - 7:00pm</p>
  </div>

  <div class="event-section">
    <p>Reception</p>
    <p>7:00pm - 11:00pm</p>
  </div>

  <div class="event-section">
    <p>After Party</p>
    <p>11:30pm</p>
  </div>
</app-card>

<app-card title="Sunday 6.25" class="card-content">
  <p>Brunch</p>
  <p>TBD</p>
</app-card>
