<app-title></app-title>

<div *ngIf="target$ | async as target" style="display: flex; flex-direction: column; align-items: center;">
  <ng-container *ngIf="delta$ | async as delta">
    <p style="margin-bottom: 1em; padding-top: 10px;">
      The{{delta < 0 ? ' magic happened' : ' fun begins in'}}...</p>
    <div style="display: flex; justify-content: center; position: relative; margin-bottom: 1em">
      <div class="element"  *ngIf="target[0] != 0 || target[1] != 0 || target[2] !=0">
        <div style="display: flex;">
          <app-dial [target]="target[0]" *ngIf="target[0]"></app-dial>
          <app-dial [target]="target[1]"></app-dial>
          <app-dial [target]="target[2]"></app-dial>
        </div>
        <p>Days</p>
      </div>

      <div class="element">
        <div style="display: flex;">
          <app-dial [target]="target[3]"></app-dial>
          <app-dial [target]="target[4]"></app-dial>
        </div>
        <p>Hours</p>
      </div>

      <div class="element">
        <div style="display: flex;">
          <app-dial [target]="target[5]"></app-dial>
          <app-dial [target]="target[6]"></app-dial>
        </div>
        <p>Minutes</p>
      </div>
      <div class="element" *ngIf="target[0] == 0 && target[1] == 0 && target[2] ==0">
        <div style="display: flex;">
          <app-dial [target]="target[7]"></app-dial>
          <app-dial [target]="target[8]"></app-dial>
        </div>
        <p>Seconds</p>
      </div>


    </div>
    <p *ngIf="delta < 0">ago!</p>
  </ng-container>
</div>
