<form [formGroup]="attendanceForm" (ngSubmit)="onSubmit()" *ngIf="!(formComplete$ | async); else complete">
  <div formArrayName="guests">
    <div *ngFor="let guestFormGroup of guestsFormArray.controls; let i = index;">
      <label><b>{{i== 0 ? 'You' : 'Guest'}}:</b></label>
      <form [formGroupName]="i">
        <label>First Name</label>
        <input type="text" name="firstName" formControlName="firstName">
        <label>Last Name</label>
        <input type="text" name="lastName" formControlName="lastName">
        <label>Attending</label>
        <select formControlName="attendingWedding">
          <option *ngFor="let option of weddingAttendance" [ngValue]="option.key">{{option.value}}</option>
        </select>
        <div *ngIf="!!guestFormGroup.get('attendingWedding')!.value">
          <label>Meal Selection</label>
          <select formControlName="mealChoice">
            <option *ngFor="let option of menuOptions" [ngValue]="option.key">{{option.value}}</option>
          </select>
          <label>Brunch</label>
          <select formControlName="attendingBrunch">
            <option *ngFor="let option of burnchAttendanceOptoins" [ngValue]="option.key">{{option.value}}</option>
          </select>
          <div *ngIf="!!guestFormGroup.get('attendingRehersal')">
            <label>Rehersal</label>
            <select formControlName="attendingRehersal">
              <option *ngFor="let option of rehersalAttedanceOptions" [ngValue]="option.key">{{option.value}}</option>
            </select>
          </div>
        </div>
      </form>
    </div>
  </div>
  <button type="submit">Submit</button>
</form>

<ng-template #complete>
  <h1>Thank you for submitting</h1>
</ng-template>