<!-- <app-title title='Registry & RSVP' split></app-title> -->
<app-title title='Registry'></app-title>

<div class="container">
    <a routerLink="/rsvp" class="link">Click here to RSVP</a>
    <a href="https://www.zola.com/registry/mcbridewilkwedding" target="_blank" class="link">
        Click here to view our registry
    </a>
</div>

<div style="display: flex; gap: 20px">
    <img class="img" src="/assets/images/footer3.jpg">
    <img class="img" src="/assets/images/footer2.jpg">
    <img class="img" src="/assets/images/footer1.jpg">
</div>