<div style="display: flex; flex-direction: column; justify-content: stretch; height: 100vh;">
  <h1>Dashboard</h1>
  <div style="flex: 1 1 100%; overflow: scroll;">
    <table mat-table [dataSource]="tableData$" style="width: 100%;" matSort>
      <ng-container matColumnDef="primaryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          {{element.primaryName}}
        </td>
        <td mat-footer-cell *matFooterCellDef><span style="font-weight: bold;">Total Responses: </span></td>
      </ng-container>
  
      <ng-container matColumnDef="primaryAttending">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Attending</th>
        <td mat-cell *matCellDef="let element">
          {{element.primaryAttending | boolean}}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{totals['responseCount']}} / {{totalCount}}</td>
      </ng-container>
  
      <ng-container matColumnDef="secondaryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
        <td mat-cell *matCellDef="let element">
          {{element.secondaryName}}
        </td>
        <td mat-footer-cell *matFooterCellDef><span style="font-weight: bold;">Total Attending: </span></td>
      </ng-container>
  
      <ng-container matColumnDef="secondaryAttending">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Attending</th>
        <td mat-cell *matCellDef="let element">
          {{element.secondaryAttending | boolean}}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{totals['attendingCount']}}</td>
      </ng-container>
  
      <ng-container matColumnDef="brunch">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Brunch Count</th>
        <td mat-cell *matCellDef="let element">
          {{element.brunch}}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{totals['brunch']}}</td>
      </ng-container>
  
      <ng-container matColumnDef="rehersal">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rehersal Count</th>
        <td mat-cell *matCellDef="let element">
          {{element.rehersal}}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{totals['rehersal']}}</td>
      </ng-container>
  
      <ng-container matColumnDef="filet">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Filet Count</th>
        <td mat-cell *matCellDef="let element">
          {{element.filet}}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{totals['filet']}}</td>
      </ng-container>
  
      <ng-container matColumnDef="fish">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Branzio Count</th>
        <td mat-cell *matCellDef="let element">
          {{element.fish}}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{totals['fish']}}</td>
      </ng-container>
  
      <ng-container matColumnDef="veggie">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Veggie Count</th>
        <td mat-cell *matCellDef="let element">
          {{element.veggie}}
        </td>
        <td mat-footer-cell *matFooterCellDef>{{totals['veggie']}}</td>
      </ng-container>  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="position: sticky"></tr>
      <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" style="position: sticky"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


<!-- 
  <table mat-table [dataSource]="tableData$" style="width: 100%;" matSort>
    <ng-container matColumnDef="primaryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        {{element.primaryName}}
      </td>
      <td mat-footer-cell *matFooterCellDef><span style="font-weight: bold;">Total Responses: </span></td>
    </ng-container>

    <ng-container matColumnDef="primaryAttending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Attending</th>
      <td mat-cell *matCellDef="let element">
        {{element.primaryAttending | boolean}}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{totals['responseCount']}} / {{totalCount}}</td>
    </ng-container>

    <ng-container matColumnDef="secondaryName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        {{element.secondaryName}}
      </td>
      <td mat-footer-cell *matFooterCellDef><span style="font-weight: bold;">Total Attending: </span></td>
    </ng-container>

    <ng-container matColumnDef="secondaryAttending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Attending</th>
      <td mat-cell *matCellDef="let element">
        {{element.secondaryAttending | boolean}}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{totals['attendingCount']}}</td>
    </ng-container>

    <ng-container matColumnDef="brunch">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Brunch Count</th>
      <td mat-cell *matCellDef="let element">
        {{element.brunch}}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{totals['brunch']}}</td>
    </ng-container>

    <ng-container matColumnDef="rehersal">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Rehersal Count</th>
      <td mat-cell *matCellDef="let element">
        {{element.rehersal}}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{totals['rehersal']}}</td>
    </ng-container>

    <ng-container matColumnDef="filet">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Filet Count</th>
      <td mat-cell *matCellDef="let element">
        {{element.filet}}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{totals['filet']}}</td>
    </ng-container>

    <ng-container matColumnDef="fish">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Branzio Count</th>
      <td mat-cell *matCellDef="let element">
        {{element.fish}}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{totals['fish']}}</td>
    </ng-container>

    <ng-container matColumnDef="veggie">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Veggie Count</th>
      <td mat-cell *matCellDef="let element">
        {{element.veggie}}
      </td>
      <td mat-footer-cell *matFooterCellDef>{{totals['veggie']}}</td>
    </ng-container>  

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" style="position: sticky"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" style="position: sticky"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div> -->