<app-title title="Accomodations"></app-title>

<div class="container">
    <p style="margin-bottom: 1em;">Room block available at the</p>
    <h2>Hyatt Regency</h2>
    <h4>102 Carnegie Center</h4>
    <h4>Princeton, NJ 08540</h4>
</div>

<p style="width: 65%; padding-bottom: 2em;">Transportation will be provided to and from the venue. Buses will pick up at 3:30pm. There will be signs in the windows indicating McBride/Wilk Wedding.</p>

<a href="https://www.hyatt.com/en-US/group-booking/PRINC/G-MCBW" target="_blank" class="link">Click here to book a room</a>
<!-- <p>Our room block is for Saturday only, so if you are booking more than one night, please contact the hotel</p> -->
<a href="https://goo.gl/maps/2ttAAEMQRZznJxF87" target="_blank" class="link">Click here to open in maps</a>